<h1>勤怠管理アプリ（仮）</h1>

<p>こんにちは <%= @user.name %>。</p>

<p>
  勤怠管理アプリ（仮）へようこそ！
  下のリンクをクリックしてアカウントを有効化して下さい。
</p>

<%= link_to "有効化する", edit_account_activation_url(@user.activation_token,
                        email: @user.email) %>
