<div class="container mt-3">
  <h3><%= @shift_date.to_date.strftime("%Y年%m月%d日") %>のシフト</h3>
  <table class="table table-bordered table-striped">
    <thead class="thead-light">
      <tr>
        <th>氏名</th>
        <th>出勤</th>
        <th>退勤</th>
      </tr>
    </thead>
    <tbody>
      <% @attendance_managements.each do |a| %>
      <tr>
        <td><%= a.user.name %></td>
        <td><%= a.sch_attendance.strftime('%H:%M') %></td>
        <td><%= a.sch_leaving.strftime('%H:%M') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<button id="mybutton" type="button" class="btn btn-primary mb-3">グラフ表示</button>
</div>
<div class="container" id="mygraph" style="height: 1000px;"></div>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  $(function() {
    $('#mybutton').click(function(e) {

      google.charts.load("current", {packages:["timeline"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('mygraph');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        var table = $("table tbody");
        table.find('tr').each(function (key, val){
          var $tds = $(this).find('td'),
              name = $tds.eq(0).text(),
              strstart = $tds.eq(1).text(),
              strend = $tds.eq(2).text(),

              st = strstart.split(':');
              ed = strend.split(':');

              dataTable.addRows([
                [ name, new Date(0,0,0,st[0],st[1]), new Date(0,0,0,ed[0],ed[1]) ]]);
        });

        var options = {
          timeline: { singleColor: '#b0c4de' }
        };

        chart.draw(dataTable, options);
      }
    });
  });
</script>
